.wrapper {
  position: absolute;
  top: $headerHeight;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
  z-index: 1;
  color: white;
  border-bottom: 1px solid gray;
  background-color: $mainBackgroundColor;
}
