.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: rem(24px);
  gap: 30px;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}
